@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #0D192C;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.container{
    width: 350px;
    padding: 24px;
    padding-bottom: 32px;
    border-radius: 15px;
    background: #15263F;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);
}
.equilibrium{
    width: 100%;
    border-radius: 8px;
}
.card{
    position: relative;
}
.card:hover .overlay{
    display: flex;
}
.overlay{
    width: 302px;
    height: 302px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;
    background-color: rgba(0, 255, 248, 0.5);
    top: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.main_text{
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 24px;
    cursor: pointer;
}
.main_text:hover{
    color: #00FFF8;
}
.p_text{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #8BACD9;
    margin-top: 16px;
}
.span_text{
    color: #00FFF8;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
.flex{
    display: flex;
    align-items: center;
    gap: 6px;
}
.second_span{
    color: #8BACD9;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
.eth-content{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
hr{
    margin-top: 24px;
    background-color: #2E405A;
    width: 100%;
    height: 1px;
    border: none;
}
.avatar{
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 33px;
}
h3{
    color: #8BACD9;
    font-size: 16px;
}
.people{
    color: #FFFFFF;
    cursor: pointer;
}
.people:hover{
    color: #00FFF8;
}
.info{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}